body {
  font-family: Arial, Helvetica, sans-serif;
}
#title,
#description {
  text-align: center;
}

#survey-form {
  display: grid;
  justify-content: center;
  background-color: #226040;
  color: white;
  margin: 0 620px 10px 620px;
  border-radius: 10px;
  padding: 30px;
  font-size: 1.2em;
  font-family: 400;
}
input[type="text"],
input[type="radio"],
input[type="checkbox"],
input[type="email"],
input[type="number"] {
  font-size: 1.2em;
  font-weight: 200;
}
label {
  font-weight: 400;
  font-size: 1.4em;
}

#submit {
  background-color: #072712;
  font-size: 30px;
  color: white;
}

#recommend {
  font-weight: 400;
  font-size: 1.4em;
}
#improve {
  font-weight: 400;
  font-size: 1.4em;
}

#comment {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
